{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}Delete Account{% endblock %}
{% block page_pretitle %}Account Settings{% endblock %}
{% block page_title %}Delete Account{% endblock %}

{% block page_actions %}
{% endblock %}

{% block page_body %}

  <div class="container-xl">

    <div class="card">

      <div class="row g-0">


        <div class="col d-flex flex-column">

          <div class="card-body">

            <h2 class="mb-4">Account Deleted</h2>

            <p class="card-subtitle">Your account, profile, and all associated data have been deleted. You're welcome to sign-up again anytime.</p>

          </div><!-- card-body -->

        </div><!-- col d-flex flex-colum -->

      </div><!-- row g-0 -->

    </div><!-- card -->

  </div><!-- container-xl -->

{% endblock %}

{% block modals %}
{% endblock %}