{% extends "account/base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

  <div class="container container-tight py-4">

    <div class="text-center mb-4">
      <a href="{% url 'core:home' %}" class="navbar-brand navbar-brand-autodark"><img src="{% static 'logo.svg' %}" height="36" alt=""></a>
    </div>

    <div class="card card-md">

      <div class="card-body">

        <h2 class="card-title text-center mb-4">{% trans "Set Password" %}</h2>

        <form class="" action="{% url 'account_set_password' %}" method="POST" autocomplete="off" novalidate="">
          {% csrf_token %}

          {% for field in form.visible_fields %}

            <div class="mb-3">
              <label class="form-label" id="{{ field.id_for_label }}">
                {{ field.label }}
              </label>
              {{ field | add_class:"form-control" | add_error_class:"form-control is-invalid" }}
              {% if field.errors %}
                {% for error in field.errors %}
                  <div class="alert alert-danger mt-1">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endif %}
            </div>

          {% endfor %}

          <div class="form-footer">
            <input type="submit" class="form-control" placeholder="{% trans 'Set Password' %}">
          </div>

        </form>

      </div>

    </div>

  </div>

{% endblock %}
