{% extends "account/base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

  <div class="container container-tight py-4">

    <div class="text-center mb-4">
      <a href="{% url 'core:home' %}" class="navbar-brand navbar-brand-autodark"><img src="{% static 'logo.svg' %}" height="36" alt=""></a>
    </div>

    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="card card-md">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">{% trans "Password Reset" %}</h2>
        <p class="text-muted mb-4">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
      </div>
    </div>

  </div>

{% endblock %}
