{% extends "account/base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

  <div class="container container-tight py-4">

    <div class="text-center mb-4">
      <a href="{% url 'core:home' %}" class="navbar-brand navbar-brand-autodark"><img src="{% static 'logo.svg' %}" height="36" alt=""></a>
    </div>

    <div class="card card-md">

      <div class="card-body">

        <h2 class="card-title text-center mb-4">{% trans "Sign Up Closed" %}</h2>
        <p class="text-muted mb-4">{% trans "We are sorry, but the sign up is currently closed." %}</p>
      </div>

    </div>

  </div>

{% endblock %}
