{% extends "socialaccount/base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  <div class="container container-tight py-4">

    <div class="text-center mb-4">
      <a href="{% url 'core:home' %}" class="navbar-brand navbar-brand-autodark"><img src="{% static 'logo.svg' %}" height="36" alt=""></a>
    </div>

    <div class="card card-md">

      <div class="card-body">

        {% if process == "connect" %}

          <h2 class="h2 text-center mb-4">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h2>

          <div class="mb-3">
            <label class="form-label">
              {% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}
            </label>
          </div>

        {% else %}

          <h2 class="h2 text-center mb-4">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h2>

          <div class="mb-3">
            <label class="form-label">
              {% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}
            </label>
          </div>

        {% endif %}

        <form method="post">
          {% csrf_token %}

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {% for error in form.non_field_errors %}
            <div class="alert alert-danger mt-1">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}

          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}

          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">{% trans "Continue" %}</button>
          </div>

        </form>

      </div><!-- card-body -->

    </div><!-- card card-md -->

  </div><!-- container container-tight py-4 -->

{% endblock %}
