{% extends "socialaccount/base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

  <div class="container container-tight py-4">

    <div class="text-center mb-4">
      <a href="{% url 'core:home' %}" class="navbar-brand navbar-brand-autodark"><img src="{% static 'logo.svg' %}" height="36" alt=""></a>
    </div>

    <div class="card card-md">

      <div class="card-body">

        <h2 class="h2 text-center mb-4">{% trans "Sign Up" %}</h2>

        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
          {% csrf_token %}

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {% for field in form.visible_fields %}
            <div class="mb-3">
              <label class="form-label" id="{{ field.id_for_label }}">
                {{ field.label }}
              </label>
              {{ field|append_attr:"class:form-control" }}
            </div>
          {% endfor %}

          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          {% for key, value in form.errors.items %}
            <span class="form-check-label">{% if key != '__all__' %} {{ key }} {% endif %} {{ value }}</span>
          {% endfor %}

          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">{% trans "Sign Up" %}</button>
          </div>

        </form>

        <div class="mt-3">
          <label class="form-label">
            {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
              {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}
          </label>
        </div>

      </div>

    </div>

  </div>

{% endblock %}
